{% extends "courses/base.html" %}
{% block content %}
    {% for course in courses %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ course.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ course.author }}</a>
              <!-- <small class="text-muted">{{ course.date|date:"F d, Y" }}</small> -->
            </div>
            <h2><a class="article-title" href="{% url 'courses-detail' course.id %}">{{ course.title }}</a></h2>
            <p class="article-content">{{ course.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}